@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* Primary */
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    /* Dark Theme */
    --Toggle: linear-gradient(70deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    /* Light Theme */
    /* --Toggle: hsl(230, 22%, 74%); */
    /* Dark Theme */
    --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);
    /* Light Theme */
    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
    --font-size: 14px;
}

/* Start global rules */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--Very-Dark-Blue-BG);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size);
    transition: 0.2s;
    padding-top: 37px;
}

body::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 244px;
    background-color: var(--Very-Dark-Blue-Top-BG-Pattern);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 92%;
    width: 1116px;
    margin: 0 auto 46px;
}

nav .title {
    font-weight: 700;
    font-size: 28px;
    color: var(--White-Text);
}

nav .followers {
    font-size: 14px;
    font-weight: 700;
    color: var(--Desaturated-Blue-Text);
    margin-top: 5px;
    margin-left: 1px;
    letter-spacing: 0.14px;
}

nav .theme-controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Desaturated-Blue-Text);
    margin-top: -6px;
    width: 138px;
    font-weight: 700;
    cursor: pointer;
}

nav .theme-controller .toggle {
    position: relative;
    background: var(--Toggle);
    width: 48px;
    height: 24px;
    border-radius: 12px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

nav .theme-controller .ball {
    position: absolute;
    left: 3px;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: 0.2s;
}

main {
    max-width: 92%;
    width: 1110px;
    margin: 0 auto;
}

main .card {
    overflow: hidden;
    position: relative;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
}

main .card .gain {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
}

main .card.minus .gain {
    color: var(--Bright-Red);
}

main .card.plus .gain {
    color: var(--Lime-Green);
}

main .card .gain span {
    display: flex;
}

main .upper-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 28px;
}

main .upper-cards .card {
    text-align: center;
    min-height: 13.5rem;
    border-radius: 4px;
    padding: 32px 16px 0;
}

.upper-cards .card .type {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Desaturated-Blue-Text);
    font-size: 12px;
    gap: 8px;
}

.upper-cards .card .number {
    font-size: 3.54rem;
    text-transform: lowercase;
    font-weight: 700;
    margin: 1.194rem 0 0;
    letter-spacing: -2px;
    color: var(--White-Text);
}

.upper-cards .card .unit {
    letter-spacing: 4.9px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--Desaturated-Blue-Text) !important;
}

.upper-cards .card .gain {
    margin-top: 1.75rem;
    letter-spacing: 0.2px;
}

.upper-cards .card .gain .num {
    margin: 0 4px;
}

.upper-cards .card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--White-BG);
}

.upper-cards #twitter {
    padding-top: 34px;
}

.upper-cards #facebook::after {
    background-color: var(--Facebook);
}

.upper-cards #twitter::after {
    background-color: var(--Twitter);
}

.upper-cards #instagram::after {
    background: var(--Instagram);
}

.upper-cards #youtube::after {
    background-color: var(--YouTube);
}

main h2 {
    font-size: 24px;
    margin-top: 47px;
    margin-bottom: 24px;
    color: var(--White-Text);
    letter-spacing: 0.1px;
}

main .bottom-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 25px 28px;
}

main .bottom-cards .card {
    padding: 26px 33px 18px 24px;
    border-radius: 4px;
    min-height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .bottom-cards .card .top,
main .bottom-cards .card .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bottom-cards .card .top p {
    font-weight: 700;
    color: var(--Desaturated-Blue-Text);
}


main .bottom-cards .card .bottom .num {
    color: var(--White-Text);
    font-weight: 700;
    font-size: 32px;
}

main .bottom-cards .card .gain {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bottom-cards .card .gain img {
    margin-right: 4px;
}

.attribution {
    width: 90%;
    max-width: 450px;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
    font-size: 14px;
    text-align: center;
    color: var(--White-Text);
    font-weight: 600;
    margin: 16px auto 12px;
}

.attribution a {
    color: var(--Bright-Red);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
}

.attribution a:hover {
    text-decoration: underline;
    color: rgb(255, 81, 81);
}

@media (min-width:896px) and (max-width:1204px) {
    main .upper-cards .card:nth-last-child(1) {
        grid-column: 1/-1;
    }
}

@media (max-width:586px) {
    nav {
        flex-direction: column;
        align-items: self-start;
    }

    nav .theme-controller {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid var(--Desaturated-Blue-Text);
        width: 100%;
    }

    nav .theme-controller .toggle {
        margin-right: 0;
    }
}